@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
nav{
    background: #343c20;
    box-shadow: 6px 3px 5px  ;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; /*remove bullets*/
    height: 55px;

}
nav li{
    padding:  24px;
}
nav li:first-child{
    margin-right: auto;
    font-family: "satisfy",cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;

}
nav a{
    text-decoration: none;
    font-weight: 700;
    color: #67af22;
    transition: color 10ms , font-size 52ms;
}
nav a:hover{
    color: #baf89b;
}
footer{
    border-top: 1px solid #333;
    display: block;
}
footer .socialLinks{
    height: 120px;
    background: #708047;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialLinks a{
    margin: 0 15px;
    text-decoration: none;
}
.socialLinks img{
    width: 42px;
    height: 42px;
}

footer .copyRights{
    padding: 16px;
    text-align: center;
}
.big{
    min-height: 100vh;
    background: url("images/fb.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /*parallax effect*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.big div{
    width: 80%;
    background: rgba(255, 255, 255, 0.63);
    padding: 20px 16px;
    border-radius: 15px;
    color: #ffffff;
}
.big h2{
    text-align: center;
    margin-bottom: 16px;
    color: #708047;
}
.big p{
    color: #708047;
    text-align: justify;
    line-height: 24px;

}
.animals{
    display: flex;
}
.crocodile , .rightText{
    width: 50%;
}
.crocodile img{
    width: 100%;
    height: 100%;
}
.rightText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
    text-align: center;
}